---
import Layout from '../layouts/Layout.astro';


import Hero from '../Home/Hero.astro';
import About from '../Home/About.astro';
import Services from '../Home/Services.astro';
import WorkDone from '../Home/WorkDone.astro';
import Testimonials from '../Home/Testimonials.astro';
import Faqs from '../Home/Faqs.astro';
import Contact from '../Home/CTA.astro';

---

<Layout>
	<main>
		<Hero />
		<About />
		<Services />
		<WorkDone />
		<Testimonials />
		<Faqs />
		<Contact />
	</main>
</Layout>

