---
import { Menu, X } from '@lucide/astro';
---
<header role="banner" class="z-50">
      <nav id="Inicio" class="bg-white w-full shadow-sm z-50">
        {/* CONTENEDOR */}
        <section class="max-w-7xl mx-auto flex justify-between items-center h-16 px-6">
          {/* LOGO */}
          <div class="flex items-center">
            <a href="/#inicio">
              <img src="/logo.webp" alt="Security Cars" class="rounded-full w-[50px]"/>
            </a>
          </div>

          {/* MENÚ */}
          <div class="flex items-center">
            {/* Desktop */}
            <ul class="hidden md:flex items-center space-x-8">
              <li><a href="/" class="nav-link">Inicio</a></li>
              <li><a href="/servicios" class="nav-link">Servicios</a></li>
              <li><a href="/#faq" class="nav-link">FAQ</a></li>
              <li><a href="/#contact" class="nav-link">Contáctanos</a></li>
              <li><a href="/blog" class="nav-link">Blog</a></li>
            </ul>
            

            {/* Mobile Button */}
            <div class="md:hidden ml-4">
              <button id="menu-btn"  class="p-2 text-black focus:outline-none">
                <!-- ICONO MENU -->
                <Menu id="icon-menu" className="w-6 h-6" />
                <!-- ICONO X -->
                <X id="icon-close" className="w-6 h-6 hidden" />
              </button>
            </div>
          </div>
        </section>

        {/* MOBILE MENU */}
          <div id="mobile-menu" class="hidden fixed top-16 left-0 w-full bg-white shadow-lg md:hidden z-40">
            <div class="px-6 py-4 flex flex-col space-y-3">
              <a href="/" class="nav-link" >Inicio</a>
              <a href="/servicios" class="nav-link" >Servicios</a>
              <a href="/#faq" class="nav-link" >FAQ</a>
              <a href="/#contact" class="nav-link" >Contáctanos</a>
            </div>
          </div>
      </nav>
    </header>


    <script>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('menu-btn');
    const menu = document.getElementById('mobile-menu');
    const iconMenu = document.getElementById('icon-menu');
    const iconClose = document.getElementById('icon-close');

    if (!btn || !menu || !iconMenu || !iconClose) return;

    let isOpen = false;

    btn.addEventListener('click', () => {
      isOpen = !isOpen;

      menu.classList.toggle('hidden');

      // Cambiar iconos
      iconMenu.classList.toggle('hidden');
      iconClose.classList.toggle('hidden');
    });

    // Cerrar menú al hacer click en links
    menu.querySelectorAll('a').forEach(link => {
      link.addEventListener('click', () => {
        menu.classList.add('hidden');
        iconMenu.classList.remove('hidden');
        iconClose.classList.add('hidden');
        isOpen = false;
      });
    });
  });
</script>
